@import "tailwindcss";

@theme {
  --color-nav: #18222f;
  --color-page: #2b3441;
  --color-card: #47566a;
  --color-card-hover: #4f5e74;
  --color-default-text: #f1f3f5;
  --color-blue-accent: #0084ff;
}
